.idea
cmake-build-*
Blitz3D-V*

*_bak*
*_old.*

git.txt
build.txt

fmod375/lib/fmod.dll

BLITZ3D_INSTALL/XGrade-Launcher.exe
BLITZ3D_INSTALL/XGrade-Setup*.exe
BLITZ3D_INSTALL/bin/*
BLITZ3D_INSTALL/cfg/blitzide.prefs
BLITZ3D_INSTALL/tmp/*.bb
BLITZ3D_INSTALL/userlibs/*.dll
BLITZ3D_INSTALL/userlibs/*.decls
BLITZ3D_INSTALL/userlibs/*.lib

BLITZ3D_RELEASES
